# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
+ List popular langauges in Data Science
+ List some of the commonly used libraries used by Data Scientists
+ list some of the important data science tools

Some of the popular languages that Data Scientists use are:
<br>1.Python
<br>2.R
<br>3.Julia
<br>4.SQL
<br>5.Java

Some of the commonly used libraries used by Data Scientists include:
<br> 1.Numpy
<br> 2. matplotlib
<br> 3. pandas
<br> 4.PyTorch
<br> 5.Scikit-learn

| Data Science Tools |
|:------------------:|
|   Apache Spark     |
|    Tensorflow      |
|   Apache HADOOP    |
|      RStudio       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Mohammad Pirouz